body 
{
  background-color: #69b849;
  text-align: center;
}
h1 
{
  color: rgb(212, 56, 56);
  border-style: solid;
  border-color:rgb(60, 255, 1);  
  border-width:2px;
  padding: 10px;
}
#nome
{
  text-decoration: underline;
  font-size:40px;
  color: rgb(22, 109, 68);
  background: rgb(60, 255, 0);
}
a
{
  color: blue;
  font-size: 20px;
  border-style: dashed;
  border-color: darkblue;
  border-width: 2px;
  padding: 10px;
  border-radius: 20px;
}

p{
  color: darkred;
  word-spacing: 10px;
  font-variant: small-caps;
  font-size: 20px;
  font-family: Arial;
}

.informacoes{
    color: darkblue;
    font-size: 18px;
}

